# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69eb42120010b3fe82c9
VITE_APPWRITE_DATABASE_ID=69eb42fa002e4521af2d
VITE_APPWRITE_PROFILES_COLLECTION_ID=profiles
VITE_APPWRITE_TRANSACTIONS_COLLECTION_ID=transactions
